header {
	width:auto;
	height:5em;
    margin: 0em 0;
    word-spacing: 1em;
	background:black;
}
body {
	margin:0px;

}
 p a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px -2px;
    padding: 15px 32px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
p {
    margin: 0;
    padding: 0px;

}
a {
	text-decoration:none;
	color:white;
}
a:hover {
	transition:0.3s;
	background:white;
	cursor: default;
	color:black;
	border-radius:1em;
}